/* Reset all css elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--color3);
    color: var(--color1);
}

/* Body, fonts and other elements */

body {
    --color1: #F0F4EF;
    --color2: #E94F37;
    --color3: #393E41;
    background-image: linear-gradient(to top, #a23a29, #b33f2c, #c54430, #d74a33, #e94f37);
    font-family: "Courier Prime", monospace;
}

/* Top navigator bar and it's elements */

#logo {
    width: 65px;
}

.site-name {
    font-size: 2rem;
    color: var(--color3);
}

.nav-bar {
    background-color: var(--color1);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 12px 20px;
}

.nav-image {
    width: 30px;
}

.nav-label {
    font-size: 1rem;
}

.nav-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color2);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.nav-button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menu {
    display: flex;
    margin-left: 50%;
    li {
        padding-left: 30px;
    }
    a {
        font-size: 1.5rem;
    }
    li, a {
        display: inline-block;
        color: var(--color3);
        text-decoration: none;
        text-align: center;
        position: relative;
        letter-spacing: 2px;
    }
}

#check {
    display: none;
}