/* Reset all css elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: var(--color2);
    color: var(--color1);
}

/* Body, fonts and other elements */

body {
    --color1: #F0F4EF;
    --color2: #E94F37;
    --color3: #393E41;
    background-color: var(--color1);
    font-family: "Courier Prime", monospace;
}

h1, h2, p, hr {
    color: var(--color3);
}

/* Top navigator bar and it's elements */

#logo {
    width: 65px;
}

.site-name {
    font-size: 2rem;
    color: var(--color3);
}

.nav-bar {
    background-color: var(--color1);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 12px 20px;
}

.nav-image {
    width: 30px;
}

.nav-label {
    font-size: 1rem;
    color: var(--color3);
}

.nav-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color2);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.nav-button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.menu {
    display: flex;
    margin-left: 50%;
    li {
        padding-left: 30px;
    }
    a {
        font-size: 1.5rem;
    }
    li, a {
        display: inline-block;
        color: var(--color3);
        text-decoration: none;
        text-align: center;
        position: relative;
        letter-spacing: 2px;
    }
}

.mobile-login {
    display: none;
}

.open-menu, .close-menu {
    display: none;
}

#check {
    display: none;
}

/* Sign-in/Sign-up container */

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--color1);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 1200px;
    max-width: 100%;
    min-height: 650px;
    margin-top: 8%;
}

.container p {
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    color: var(--color1);
}

.password-container {
    width: 490px;
    margin-right: 6%;
}

.show-password {
    width: 32px;
    cursor: pointer;
    transition: ease-in-out;
    position: absolute;
    margin: 2.5% 0% 0% 0%;
    opacity: 50%;
}

.sign-in-header {
    color: var(--color3);
}

.login-header {
    color: var(--color1);
}

.container span {
    font-size: 1rem;
}

.container a {
    color: var(--color3);
    font-size: 1.2rem;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container .mobile-button {
    display: none;
}

.container button {
    background-color: var(--color2);
    color: var(--color1);
    font-size: 1rem;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: var(--color1);
}

.container form {
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: var(--color1);
    color: var(--color3);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: var(--color2);
    height: 100%;
    background: var(--color2);
    color: var(--color1);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}

@media screen and (max-width: 610px) {

    /* Top navigator */

    .nav-bar {
        padding: 8px 10px;
    }

    #logo {
        width: 45px;
    }

    .site-name {
        font-size: 1.2rem;
    }

    .nav-image {
        width: 30px;
    }
    
    .nav-label {
        font-size: 1.5rem;
        color: var(--color3);
        margin-left: 5%;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color1);
        transition: all 0.2s ease-in-out;
        li, a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 1.5rem;
            padding: 10px;
        }
    }

    .desktop-login {
        display: none;
    }

    .mobile-login {
        display: block;
        margin-left: 30%;
        margin-right: 2%;
        cursor: pointer;
    }


    .close-menu {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .open-menu, .close-menu {
        display: block;
        cursor: pointer;
    }

    #check:checked ~ .menu {right: 0;}

    /* Body, font-size, footer and other elements */

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    #logo {
        width: 50px;
    }

    /* Sign-in/Sign-up container */

    .container {
        box-shadow: none;
        border-radius: 0px;
        width: 360px;
        min-height: 550px;
        margin-top: 18%;
    }

    .password-container {
        width: 230px;
        margin-right: 18%;
    }

    .show-password {
        margin: 4% 0% 0% 0%;
    }

    .sign-in, .sign-up {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .sign-in.visible, .sign-up.visible {
        display: block;
        opacity: 1;
        z-index: 2;
    }

    .container .mobile-button {
        display: block;
        width: 90%;
        background-color: var(--color1);
        color: var(--color3);
        border-color: var(--color3);
        margin-top: 10%;
    }

    .toggle, .toggle-container, .toggle-left, .toggle-right {
        display: none;
    }

}
